scratch_0_12.txt
scratch_13_25.txt
scratch_26_32.txt
scratch_34_46.txt
scratch_cells.txt
report_assets/credit_amount.png
report_assets/credit_model_compare.png
report_assets/credit_sampling_compare.png
report_assets/credit_target.png
report_assets/mercari_coef_category.png
report_assets/mercari_coef_name.png
report_assets/mercari_missing.png
report_assets/mercari_model_compare.png
report_assets/mercari_price.png
report_assets/opiniosis_sentiment.png
report_assets/opiniosis_silhouette.png
report_assets/opiniosis_svd_ari.png
report_assets/santander_model_compare.png
report_assets/santander_target.png
report_assets/santander_threshold.png
report_assets/santander_var38.png
